# Q10 Number to Reversed List

sudo code

In [ ]:
'''
take numbers 123456789 
reverse them to 987654321
convert them to list
'''

In [ ]:
def numberToReversedList(numbers):
    res = list(int(n) for n in str(numbers))
    res.reverse()
    return res

print(numberToReversedList(123456789))

another way

In [ ]:
def convert(n):
    # Convert To String
    st = str(n)
    # Create Empty List
    result = []
    # Loop On String Contains The Numbers
    for num in st:
        # Append Every Number To Empty List
        result.append(int(num))
    # Reverse The List
    result.reverse()
    return result


print(convert(564987654))  # [4, 5, 6, 7, 8, 9, 4, 6, 5]

In [ ]:
print(convert(529132))  # [2, 3, 1, 9, 2, 5]

another way

In [ ]:
def convert(n):
    # Create Empty List
    result = []
    # Loop On String Contains The Numbers
    for num in str(n):
        # Append Every Number To Empty List At Position 0
        result.insert(0, int(num))
    return result

print(convert(564987654))  # [4, 5, 6, 7, 8, 9, 4, 6, 5]

In [ ]:
print(convert(529132))  # [2, 3, 1, 9, 2, 5]

another way

In [ ]:
def convert(n):
    return [int(num) for num in str(n)[::-1]]

# int(num) => Make num Integer
# str(n) => Convert n To String
# [::-1] => Slicing Backwards


print(convert(564987654))  # [4, 5, 6, 7, 8, 9, 4, 6, 5]

In [ ]:
print(convert(529132))  # [2, 3, 1, 9, 2, 5]